name: docs

on:
  push:
    branches: [ main ]
    paths:
      - 'docs/**'
      - 'README.md'
      - 'pyproject.toml'
      - 'zensical.toml'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Build
        run: uv run zensical build

      - name: Upload
        uses: actions/upload-pages-artifact@v3
        with:
          path: './site'

      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4